<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <h2>Signup</h2>
        <form onsubmit="signup(event)">
            <input type="email" id="email" placeholder="Enter email" required>
            <input type="password" id="password" placeholder="Enter password" required>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <div id="loader" class="loader"></div>
        <p id="error-message" class="error"></p>
    </div>

    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>
</html>
